body {
  margin: 0;
  background-color: #FEFBF6;
  line-height: 2
}

img {
  height: 750px;
  width: 600px;
  margin-left: 50px;
}
p {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  line-height: normal;
}
h2 {
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}
h1 {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
}

/************************classes***********************/
.top-container {
  position: absolute;
    top: 0;
    left: 48.75em;
}
.middle-container {
  position: absolute;
    top: 461px;
    left: 48.75em;
    line-height: 2;
}
.actual-amount {
  font-size: 2em;
  margin-right: 10px;
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
.MRP {
  margin-left: 10px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
.btn {
  background: hsl(158, 36%, 37%);
  background-image: -webkit-linear-gradient(top, hsl(158, 36%, 37%), #2bb889);
  background-image: -moz-linear-gradient(top, hsl(158, 36%, 37%), #2bb889);
  background-image: -ms-linear-gradient(top, hsl(158, 36%, 37%), #2bb889);
  background-image: -o-linear-gradient(top, hsl(158, 36%, 37%), #2bb889);
  background-image: linear-gradient(to bottom, hsl(158, 36%, 37%), #2bb889);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border-style: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 60px 8px 60px;
  text-decoration: none;
}

.btn:hover {
  background: #27a85b;
  background-image: -webkit-linear-gradient(top, #27a85b, #3cd934);
  background-image: -moz-linear-gradient(top, #27a85b, #3cd934);
  background-image: -ms-linear-gradient(top, #27a85b, #3cd934);
  background-image: -o-linear-gradient(top, #27a85b, #3cd934);
  background-image: linear-gradient(to bottom, #27a85b, #3cd934);
  text-decoration: none;
}
